<div class = "row">
  <div class = "col-xs-12">
    <img 
    [src]="recipeShowDetail.imagePath" 
    alt="{{ recipeShowDetail.name }}" 
    class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipeShowDetail.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle">Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="#">Add ingredients to shopping list</a>
        </li>
        <li>
          <a href="#">Edit recipe</a>
        </li>
        <li>
          <a href="#">Delete recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ recipeShowDetail.desc }}</div>
</div>
<div class="row">
  <div class="col-xs-12">Ingredients</div>
</div>