<div class="row">
    <div class="col-xs-12">
        <img
            [src]="recipeShowDetail.imagePath"
            alt="{{ recipeShowDetail.name }}"
            class="img-responsive"
        >
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipeShowDetail.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div
            class="btn-group"
            appDropdown
        >
            <button class="btn btn-primary dropdown-toggle">
                Manage Recipe
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a
                        style="cursor:pointer;"
                        (click)="onAddToShoppingList()"
                    >
                        Add ingredients to shopping list
                    </a>
                </li>
                <li>
                    <a
                        style="cursor:pointer"
                        (click)="onClickEdit()"
                    >
                        Edit recipe
                    </a>
                </li>
                <li>
                    <a style="cursor:pointer">Delete recipe</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">{{ recipeShowDetail.desc }}</div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li
                class="list-group-item"
                *ngFor="let ingredient of recipeShowDetail.ingredients"
            >
                {{ ingredient.name }} - {{ ingredient.amount }}
            </li>
        </ul>
    </div>
</div>
